.StoryGrid {
  /* background-color: #DAD4C9; */
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  /* margin: 5rem 0; */

  @media only screen and (max-width: 667px) {
    display: block;
    margin: 0;
  }
}
