.Date {
  display: block;
  max-width: 30rem;
  min-width: 25%;
  padding: 2rem 2rem 5rem;
  /* position: relative; */
  text-align: left;

  & h4 {
    border-bottom: 1px solid #f0eee9;
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    width: 100%;
  }

  & p {
    margin-bottom: 1rem;
  }

  &::before {
    background: #48d2cb;
    border-radius: 50%;
    bottom: 0;
    left: calc(50% - 0.7rem);
    content: "";
    display: block;
    height: 1.4rem;
    width: 1.4rem;
    position: absolute;
  }

  &::after {
    background: #48d2cb;
    bottom: 0.6rem;
    content: "";
    display: block;
    height: 2px;
    margin-left: -2rem;
    position: absolute;
    width: calc(100%);
  }

  @media only screen and (max-width: 768px) {
    min-width: 33.3%;
  }

  @media only screen and (max-width: 667px) {
    min-width: 100%;
    width: 100%;
  }
}
