.Button {
  background: transparent;
  border: 2px solid white;
  border-radius: 0.4rem;
  color: inherit;
  display: inline-block;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin: 0;
  outline: none;
  padding: 1rem;
  position: relative;
  transition: 0.3s ease all;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  user-select: none;
  z-index: 0;

  & span {
    white-space: nowrap;
  }

  &::before {
    border-radius: 0.2rem;
    background-color: white;
    bottom: -1px;
    content: '';
    left: 50%;
    opacity: 0;
    position: absolute;
    right: 50%;
    top: -1px;
    transition: 0.5s all ease;
    z-index: -2;
  }

  &:hover,
  &:focus {
    color: #ff0081;
    cursor: pointer;
    
    &::before {
      left: -1px;
      right: -1px;
      opacity: 1;
    }
  }

  & span::before,
  & span::after {
    content: '<';
    display: inline-block;
    padding: 0 0.2rem;
  }

  & span::after {
    content: '>';
  }

  &.pink {
    border-color: #ff0081;
    color: #ff0081;

    &::before {
      background-color: #ff0081;
    }

    &:hover,
    &:focus {
      color: white;
    }
  }

  &.white {
    background: white;
    border-color: white;
  }

  &.small,
  &.link,
  &.desktopLink {
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 0.8rem 1rem;
  }

  &.link,
  &.desktopLink {
    border-radius: 0;
    border-width: 0 0 2px;
    display: inline-block;
    padding: 0.8rem 0;

    &:hover,
    &:focus {
      border-color: inherit;
      color: inherit;
    }

    & span::before,
    & span::after {
      content: none;
    }
  }

  &.download {
    padding: 0.5rem;

    & span {
      background: url(/assets/pdf_icon_pink.svg) left center no-repeat;
      background-size: auto 90%;
      display: inline-block;
      padding: 0.1rem 1rem;
      padding-left: 2.5rem;

      &::before {
        border-left: 1px solid #ff0081;
        content: "";
        display: inline-block;
        height: 48px;
        height: 2rem;
        margin-right: 0.8rem;
        padding: 0;
        vertical-align: middle;
      }

      &::after {
        content: none;
      }
    }

    &:hover,
    &:focus {
      & span {
        background-image: url(/assets/pdf_icon_white.svg);

        &::before {
          border-left-color: white;
        }
      }
    }
  }

  &:active {
    border-color: #32004f;

    &::before {
      background-color: #32004f;
    }
  }

  @media only screen and (min-width: 601px) {
    &.desktopLink {
      border-radius: 0;
      border-width: 0 0 2px;
      display: inline-block;
      padding: 0.5rem 0;

      &:hover,
      &:focus {
        border-color: inherit;
        color: inherit;
      }

      &::before,
      &::after {
        content: none;
      }
    }
  }

  @media only screen and (max-width: 667px) {
    background-color: white;
    color: #ff0081;

    &.pink {
      background-color: #ff0081;
      color: white;
    }

    &.download span {
      background-image: url(/assets/pdf_icon_white.svg);
    }

    &.desktopLink {
      border-width: 0.3rem;
      border-radius: 0.4rem;
      padding: 1rem 2rem;
    }
  }
}
