.OfficeGrid {
  background-color: #dad4c9;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: left;
  align-content: stretch;
  margin: -6rem auto 0;
  width: 100%;

  @media only screen and (max-width: 667px) {
    margin: -7rem 0;
  }
}
