.Post {
  align-items: flex-start;
  display: flex;
  max-width: 126rem;
  position: relative;
  text-align: left;
  margin: 0 auto;
  padding: 7rem 0;
  width: 100%;

  & .postTitle {
    width: 50%;
    padding: 0 1.5rem 0 3rem;

    & .postDate {
      color: #000081;
      display: flex;
      font-size: 1.4rem;
      font-weight: 200;
      padding: 0 0 2rem;
      width: 100%;
  
      &:after {
        border-bottom: 1px solid #000081;
        content: "";
        flex: 1 1 auto;
        margin-left: 1rem;
      }
    }

    & .logo {
      height: auto; 
      max-width: 50%;
    }

    & h1 {
      padding-bottom: 2rem;

      &:nth-child(2) {
        padding-top: 2rem;
      }
    }

    & .image {
      margin-bottom: 3rem;
    }

    & .author {
      border-top: 1px solid #000081;
      margin-top: 2rem;
      padding-top: 4rem;

      & img {
        border-radius: 50%;
        display: inline-block;
        height: auto;
        width: 7.5rem;
        vertical-align: middle;
      }

      &.hasBio img {
        vertical-align: top;
      }

      & .info {
        display: inline-block;
        font-size: 1.4rem;
        font-weight: 200;
        line-height: 2rem;
        margin-left: 1rem;
        vertical-align: middle;
        width: calc(100% - 85px);

        & h4 span {
          display: block;
          font-weight: 100;
        }

        & p {
          margin-top: 1rem;
          font-weight: 100;
        }
      }
    }

    & .socialLinks {
      border-top: 1px solid #000081;
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: left;
      align-content: center;
      align-items: center;
      margin-top: 3rem;
      padding: 3rem 0;

      & > div {
        cursor: pointer;
        margin-right: 2rem;
        outline: none;

        & svg g circle {
          fill: #000081;
        }

        &:hover svg g circle {
          fill: #ff0081;
        }
      }

      .share-count {
        text-align: center;
      }
    }
  }

  & .postContent {
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 0 3rem 0 1.5rem;
    width: 50%;

    & a {
      color: #ff0081;
    }

    & h2, 
    & h3, 
    & h4, 
    & h5 {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }

    & h1 {
      font-size: 3.8rem;
      font-weight: 600;
      line-height: 4.4rem;
      margin-bottom: 2rem;
    }

    & h2 {
      font-size: 3.2rem;
      line-height: 3.8rem;
    }

    & h2 + h2,
    & h2 + h3,
    & h2 + h4 {
      margin-top: 3rem;
    }

    & h3 {
      font-size: 2.8rem;
      font-weight: 200;
      line-height: 3.4rem;
    }

    & h4 {
      font-size: 2.4rem;
      font-weight: 200;
      line-height: 3rem;
    }

    & p,
    & img {
      margin-bottom: 3rem;
    }

    & p:first-of-type {
      font-weight: 200;
    }

    /* & a {
      color: #ff0081;
    } */

    & ol, 
    & ul {
      counter-reset: list;
      list-style-type: none;
      margin: 0 0 3rem;

      & li {
        display: block;
        margin-bottom: 2rem;
        padding-left: 0;

        &::before {
          color: #ff0081;
          counter-increment: list;
          content: "0"counter(list);
          display: inline-block;
          float: left;
          font-size: 3.2rem;
          font-weight: 300;
          line-height: 4rem;
          padding-right: 1.2rem;
        }
      }
    }

    & blockquote {
      border-left: 1px solid #ff0081;
      display: block;
      font-weight: 200;
      margin-bottom: 3rem;
      padding: 0 0 0 2rem;
    }

    & hr {
      border-top: 1px dashed #ff0081;
      content: "";
      display: block;
      height: 0;
      margin: 5rem 0;
      width: 30%;
    }

    & button {
      margin-bottom: 3rem;
    }

    & button,
    & button p {
      border: 0;
      padding: 0;
      display: inline;
    }

    & button > p > a {
      background: transparent;
      border: 2px solid #ff0081;
      border-radius: 0.4rem;
      color: #ff0081;
      display: inline-block;
      font-size: 1.8rem;
      letter-spacing: 1px;
      margin: 0;
      outline: none;
      padding: 1rem 2rem;
      position: relative;
      transition: 0.3s ease all;
      text-align: center;
      text-decoration: none;
      user-select: none;
      z-index: 0;
    
      &::before {
        background-color: #ff0081;
        bottom: 0;
        content: '';
        left: 50%;
        opacity: 0;
        position: absolute;
        right: 50%;
        top: 0;
        transition: 0.5s all ease;
        z-index: -2;
      }
    
      &:hover,
      &:focus {
        color: white;
        
        &::before {
          left: 0;
          right: 0;
          opacity: 1;
        }
      }
    
      /* & span::before,
      & span::after {
        content: '<';
        display: inline-block;
        padding: 0 0.2rem;
      }
    
      & span::after {
        content: '>';
      } */
    }

    & :first-child {
      margin-top: 0;
    }

    & :last-child {
      margin-bottom: 0;
    }
  }

  & img {
    width: 100%;
  }

  @media only screen and (min-width: 737px) {
    &.fixTitle1 {

      & .postTitle {
        position: fixed;
        top: 14rem;
        right: 50%;
        max-width: 63rem;
      }

      & .postContent {
        margin-left: 50%;
      }
    }

    &.fixTitle2 {
      
      & .postTitle {
        left: 0;
        position: absolute;
        bottom: 7rem;
      }

      & .postContent {
        margin-left: 50%;
      }
    }
  }

  @media only screen and (max-width: 736px) {
    display: block;
    padding: 0 3rem;

    & .postTitle,
    & .postContent {
      margin: 5rem 0 3rem;
      padding: 0;
      width: 100%;
    }
  }
}
