.FeatureGrid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: calc(100% - 6rem); /* 90rem; */

  & .desktopBreak {
    display: block;
    height: 0;
    width: 100%;

    @media only screen and (max-width: 667px) {
      display: none;
    }
  }

  & > div {
    min-height: 25%;
    width: calc(25% - 4rem);
  }

  &.threebythree > div {
    min-height: 25%;
    width: calc(33.3% - 4rem);
  }

  &.twobytwo > div {
    max-width: 35rem;
    min-height: 25%;
    width: calc(50% - 4rem);
  }

  @media only screen and (max-width: 667px) {
    max-width: 100%;
    margin: 0 3rem;

    & > div {
      margin: 1rem 1rem;
      width: calc(50% - 2rem);
    }

    &.threebythree > div,
    &.twobytwo > div {
      width: 100%;
    }
  }
}
