.Hero {
  background: url('/assets/pink_blue_bk.png') center center no-repeat;
  background-size: cover;

  & .innerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 120rem;
    width: 100%;

    & > div {
      width: 50%;
    }

    & .copyWrapper {
      color: white;
      padding: 7rem 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;

      &::before {
        background-color: white;
        content: "";
        display: inline-block;
        height: 2px;
        width: 30%;
      }

      & > * {
        margin: 3rem 0 0;
        max-width: 100%; /* for IE bug */
      }

      & h3 {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 2rem;
      }
    }

    & .imageWrapper {
      padding: 7rem 0;

      & img {
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 60rem;
      }
    }
  }

  @media only screen and (max-width: 667px) {
    & .innerWrapper {
      display: block;

      & > div {
        width: 100%;
      }

      & .copyWrapper {
        padding: 3rem;
      }

      & .imageWrapper {
        display: none;
      }
    }
  }
}

.small {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-height: 20rem;
  max-width: 126rem;
  padding: 5rem 3rem;
  position: relative;
  text-align: left;
  width: 100%;

  & a {
    color: white;
    text-decoration: none;

    &:hover {
      color: #ff0081;
    }
  }

  & p a {
    color: inherit;
  }

  & h1,
  & a h1 {
    color: inherit;
    margin: 0 0 2rem;
    text-align: left;
  }

  & h1:only-child,
  & a h1:only-child {
    margin: 2rem 0;
  }

  & p {
    display: block;
    max-width: 50%;
    text-align: left;
  }

  & .breadcrumb {
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: left;

    & a::after {
      color: #ff0081;
      content: " >> ";
      display: inline-block;
      padding: 0 0.5rem;
    }
  }

  &.centre {
    text-align: center;

    & h1,
    & a h1 {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  & :last-child {
    margin-bottom: 0;
  }

  @media only screen and (max-width: 667px) {
    min-height: auto;

    & a:first-child,
    & h1 {
      margin-bottom: 0 !important;
    }

    & a {
      color: #ff0081;
    }

    & p {
      margin-top: 2rem;
      max-width: 100%;
    }

    & .breadcrumb {
      display: none;
    }
  }
}
