.BodyCopy {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2.2rem;
  margin-bottom: 2rem;
  width: 100%;

  &.hasColumns {
    columns: 2;
    column-width: 50%;
  }

  &.leftAlign {
    text-align: left;
  }

  & h2,
  &.largeText,
  & .largeText,
  &.largeLinks a {
    color: inherit;
    font-size: 2.3rem;
    line-height: 3.6rem;
  }

  &.largeLinks a {
    display: block;
  }

  & h2 {
    color: #ff0081;
  }

  & h2 > em {
    color: #000081;
    font-weight: normal;
  }

  & h2,
  & h3,
  & ul {
    margin: 4rem auto 1rem;
  }

  & h2:first-child,
  & h3:first-child,
  & ul:first-child {
    margin-top: 0;
  }

  & hr + h2 {
    margin-top: 1rem;
  }

  & ul {
    list-style: none;
    margin: 1rem auto 3rem 2rem;
  }

  & li {
    margin: 1rem 0;
    position: relative;
  }

  & li:after {
    background: #ff0081;
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    top: 0.7rem;
    left: -20px;
    width: 0.6rem;
    height: 0.6rem;
  }

  & p {
    margin-bottom: 2rem;

    & a {
      color: #ff0081;
    }
  }

  & a {
    text-decoration: none;
  }

  & em,
  & strong {
    font-weight: bold;
    font-style: normal;
  }

  & img {
    display: block;
    height: auto;
    width: 100%;
  }

  & .imgWrapper {
    background-color: rgba(60,0,252,.2);
    margin: 3rem 0;

    & > img {
      background-blend-mode: screen;
      mix-blend-mode: screen;
    }
  }

  & hr {
    background-color: #dad4c9;
    margin: 3rem auto;
    max-width: 12rem;
    width: 30%;
  }

  & *:last-child {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.hasButton {
    & > p {
      float: left;
    }
    & > a {
      float: right;
    }
  }
}
