.Clients {
  border: 2px solid #dad4c9;
  border-width: 0.2rem 0;

  & h2 {
    border-bottom: 2px solid #dad4c9;
    font-size: 3.4rem;
    margin-bottom: 0;
    padding: 4rem 0;
  }

  & .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;

    & .gridItem {
      background: center center no-repeat;
      background-size: contain;
      margin: 1rem;
      padding-bottom: 25%;
      text-indent: -9999px;
      width: calc(50% - 2rem);
    }
  }
}
