.Ticker {
  background-color: #32004F;
  color: white;
  font-size: 1.5rem;

  & .innerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem 0;
    width: 100%;

    &::after {
      background: white;
      content: "";
      display: inline-block;
      flex: 0 0 auto;
      height: 2rem;
      width: 1px;
    }
  }

  & h4 {
    border: 1px solid white;
    border-width: 0 1px;
    flex: 0 0 auto;
    font-size: 1.8rem;
    font-weight: normal;
    margin: 0;
    padding: 0.2rem 1rem;
  }

  & .messages {
    flex: 1 1 auto;
    font-weight: 300;
    overflow: hidden;
    overflow-x: auto;
    margin: 0 2rem;

    & ul {
      display: block;
      padding-left: 0;
      width: 96rem;

      & li {
        display: inline-block;
        margin: 0 2rem 0 0;

        & span {
          color: #FF0081;
        }
      }
    }
  }
}
