.contactWrapper {
  display: block;
  margin: 0 auto;
  max-width: 100rem;
  padding: 6rem 0;
  width: 100%;

  & > h1 {
    margin: 1rem 0 6rem;
    text-align: left;

    @media only screen and (max-width: 1060px) {
      margin: 1rem 3rem 6rem;
    }
  }

  & .contactInnerWrapper {
    background: #dad4c9;
    color: #000081;
    display: block;
    padding: 5rem;
    width: 100%;

    & > h2 {
      padding: 0;
      margin: 0 0 4rem;
    }
  }

  & > h3 {
    font-size: 2.6rem;
    font-weight: normal;
    margin: 0 0 2.5rem;
  }

  & > div > p {
    font-size: 2.1rem;
    line-height: 2.6rem;
    margin: 0 auto 2rem;
    max-width: 60rem;
  }

  & .flex {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 0;

    & > * {
      width: calc(50% - 2.5rem);
    }
  }

  & .image {
    background: url('/assets/contact_arrow.png') center center no-repeat;
    background-size: cover;
  }

  @media only screen and (max-width: 768px) {
    & .image {
      margin-left: -5rem;
      width: calc(50% + 2.5rem);
    }
  }

  @media only screen and (max-width: 667px) {
    padding-bottom: 0;
    
    & > h1 {
      margin: 1rem 2rem 6rem;
      text-align: center;
    }

    & .contactInnerWrapper {
      padding: 6rem 3rem;

      & .flex {
        display: block;
    
        & > * {
          width: 100%;
        }
      }

      & .image {
        display:none;
      }
    }
  }
}
