.Resource {
  max-width: 60rem;
  transition: background-color 0.3s ease;
  width: 50%;

  &:hover {
    background-color: #e9e5df;
  }

  & .company {
    padding: 0 2rem;
    text-align: left;

    & img {
      height: auto;
      width: 50%;
    }
  }

  & .image {
    background-size: cover;
    background-position: center center;
    display: block;
    margin-bottom: 3rem;
    padding-bottom: 50%;
    width: 100%;

    & img {
      display: none;
    }
  }

  & .content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    text-align: left;

    & .type {
      color: #ff0081;
      display: flex;
      font-size: 1.4rem;
      font-weight: 200;
      padding-bottom: 3rem;
      width: 100%;
  
      &:before {
        display: block;
        margin-right: 1rem;
        flex: 0 0 auto;
      }
      &:after {
        border-bottom: 1px solid #ff0081;
        content: "";
        display: block;
        flex: 1 1 auto;
      }
    }

    & > div {
      align-self: center;
      display: block;
      position: relative;
    }

    & h2 {
      flex: 0 0 auto;
      font-size: 2.4rem;
      line-height: 3.2rem;
      margin-bottom: 0.5rem;
      width: 100%;

      & a {
        color: inherit;
        text-decoration: none;

        &:hover {
          color: #ff0081;
        }
      }
    }

    & h3 {
      flex: 0 0 auto;
      font-size: 1.8rem;
      font-weight: 200;
      line-height: 2.4rem;
      margin-bottom: 1rem;
      width: 100%;
    }

    & p {
      font-size: 1.1rem;
      margin: 1rem 0;
    }

    & h2 + div,
    & h3 + div {
      flex: 1 1 auto;
      margin-bottom: 2rem;
    }

    & + a {
      flex: 0 0 auto;
    } 

    & .logoIMG {
      display: block;
      position: absolute;
      height: 5rem;
      width: auto;
      right: 3rem;
      bottom: 3rem;
    }

  }

  & .company + .content {
    padding-top: 0;
  }

  &.case_study .type::before {
    content: "Case Study";
  }

  &.whitepaper {
    & .type::before {
      content: "Whitepaper";
    }
  }

  &.report .type::before {
    content: "Report";
  }

  &.micro .type::before {
    content: "Micro-report";
  }

  &.featured_post .type::before { content: "Featured Post"; }
  &.latest_post .type::before { content: "Latest Post"; }
  &.featured_resource .type::before { content: "Featured Resource"; }
  &.latest_resource .type::before { content: "Latest Resource"; }

  &.insight .type::before {
    content: "Insight";
  }

  &.quotation {
    background: url('/assets/blude_bk.png') center center no-repeat #f0eee9;
    background-size: cover;
    color: #000081;
    max-width: 60rem;
    padding-top: 0;

    & h2,
    & .type,
    & .image {
      display: none;
    }

    & .content {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;

      & h3 {
        color: #ff0081;

        &:last-child {
          margin-bottom: 0;
        }
      }

      & h4 {
        margin-bottom: 0;

        & span {
          font-weight: 100;
        }
      }

      & > div {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        overflow: visible;
      }
    }

    & blockquote {
      font-size: 2.4rem;
      font-weight: 100;
      line-height: 3.2rem;
      margin-bottom: 2rem;
      padding: 1rem 0;
      width: 100%;

      &:before,
      &:after {
        content: '"';
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media only screen and (max-width: 667px) {
    height: auto;
    max-width: 100%;
    width: 100%;

    & .content {
      display: flex;
      height: auto;

      & a.cta {
        display: block;
        margin: 1rem auto 0;
        order: 6;
        width: 100%;
      }

      & .logoIMG {
        display: block;
        order: 2;
        position: relative;
        bottom: unset;
        top: unset;
        right: unset;
      }
    }
  }

  @media only screen and (max-width: 414px) {
    & .image {
      height: 50vw;
      width: 100%;
    }

    & .content {
      height: auto;
      width: 100%;
    }
  }
}
