.Feature {
  color: #000081;
  display: block;
  min-height: 25%;
  margin: 5rem 2rem 0;
  padding-bottom: 2rem;
  position: relative;
  text-align: center;
  width: calc(25% - 4rem);

  &::after {
    background-color: #dad4c9;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 1px;
    left: 20%;
    position: absolute;
    width: 60%;
  }

  & .content {
    & h3 {
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }

    & p {
      font-size: 1.4rem;
      line-height: 2.2rem;
      margin-bottom: 2rem;
    }
  }

  & .icon {
    background: #34d0ca center center no-repeat;
    background-size: contain;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2rem;
    max-width: 9rem;
    width: 50%;

    & img {
      opacity: 0;
      height: auto;
      width: 100%;
    }
  }

  &.small .icon {
    max-width: 5rem;
    width: 28%;
  }

  @media only screen and (max-width: 667px) {
    & .icon {
      width: 7.5rem;
    }
  }
}
