.Story {
  align-items: stretch;
  color: #000081 !important;
  display: flex;
  justify-content: space-between;
  height: 25vw;
  max-height: 30rem;
  text-decoration: none;
  width: 50%;

  & .content {
    align-items: flex-start;
    background: #DAD4C9 top left no-repeat;
    background-size: cover;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem;
    text-align: left;
    width: 50%;

    & * {
      text-decoration: none;
    }

    & > div {
      display: block;
      align-self: center;
      overflow: hidden;
    }

    & .date {
      flex: 0 0 auto;
      display: flex;
      font-size: 1.4rem;
      font-weight: 200;
      margin: 0 0 2rem;
      width: 100%;

      &::after {
        align-self: flex-end;
        background: #000081;
        content: "";
        flex: 1 1 auto;
        height: 1px;
        margin-left: 1rem;
      }
    }

    & h2 {
      flex: 1 1 auto;
      font-size: 2.4rem;
      line-height: 3rem;
      margin-bottom: 2rem;
      width: 100%;
    }

    & p {
      margin-bottom: 1rem;
    }

    & span.link {
      border-bottom: 2px solid #ff0081;
      color: #ff0081;
      display: inline-block;
      flex: 0 0 auto;
      font-size: 1.2rem;
      padding: 0.5rem 0;
      text-decoration: none;
    }
  }

  & .image {
    background-color: #eee;
    background-size: cover;
    background-position: center center;
    flex: 1 1 auto;
    width: 50%;

    & img {
      display: none;
    }
  }

  &:hover {
    text-decoration: none;
 
    & .content h4 {
      color: #ff0081;
    }
  }

  &:nth-child(4n+3),
  &:nth-child(4n+4) {
    flex-direction: row-reverse;
  }

  &:nth-child(4n+2) .content {
    background-image: url('/assets/blue_bk.png');
    color: white;

    & .date::after {
      background: white;
    }
  }

  &.noImage,
  &:nth-child(4n+3) .content {
    background-image: url('/assets/pink_blue_bk2.png');
    color: white;

    & .date::after {
      background: white;
    }
  }

  @media only screen and (max-width: 1023px) {
    height: 50vw;
    max-height: 100%;
    width: 100%;

    &:nth-child(odd) {
      flex-direction: row;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    & .content h2 {
      font-size: 3.6rem;
      line-height: 4.4rem;
    }
  }

  @media only screen and (max-width: 667px) {
    display: block;
    height: auto;
    min-height: 50vw;
    max-height: 100%;
    margin-bottom: 0.2rem;

    & .content,
    & .image {
      min-height: 50vw;
      width: 100%;
    }

    & .content {
      justify-content: start;

      & h2 {
        font-size: 2.4rem;
        line-height: 3.2rem;
        margin-bottom: 0;
        overflow: hidden;
      }

      & .date {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }

      & span.link,
      & > div {
        display: none;
      }
    }

    &:nth-child(even) .content {
      background-image: url('/assets/blue_bk.png');
      color: white;
    }

    &.noImage,
    &:nth-child(odd) .content {
      background-image: url('/assets/pink_blue_bk2.png');
      color: white;
    }
  }
}
