.Product {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem auto;
  max-width: 90rem;
  width: calc(100% - 10rem);

  & > div {
    flex: 1 0 auto;
    width: 50%;
  }

  & .content {
    color: #000081;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    order: 2;
    padding: 2rem;
    text-align: left;

    & h3 {
      border-bottom: 1px solid #000081;
      font-size: 2.6rem;
      font-weight: bold;
      line-height: 3rem;
      margin-bottom: 3rem;
      padding-bottom: 2rem;
      width: 100%;
    }

    & h4,
    & h5 {
      font-weight: bold;
      padding: 0;
    }

    & h4 {
      font-size: 1.6rem;
      line-height: 2rem;
      margin-bottom: 2rem;
    }

    & h5 {
      margin-bottom: 0.5rem;
    }

    & h5,
    & p {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }

    & p {
      margin-bottom: 2rem;

      & a {
        color: white;
        font-weight: 400;
        text-decoration: none;
        margin: 0 1rem;
      }
    }

    & ul {
      display: block;
      margin: 0 0 2rem 0;
      padding-left: 0;

      & li {
        background: url('/assets/tick.png') top left no-repeat;
        display: block;
        font-size: 1.2rem;
        font-weight: normal;
        line-height: 1.4rem;
        margin-bottom: 2rem;
        min-height: 3.8rem;
        padding-left: 4.6rem;

        & strong {
          display: block;
          margin-bottom: 0.5rem;
        }

        &:after {
          content: none;
        }
      }
    }
  }

  & .image {
    order: 1;

    & img {
      height: 100%;
      width: 100%;
      padding: 2rem;
    }
  }

  @media only screen and (max-width: 667px) {
    flex-direction: column;
    width: 100%;

    & > div {
      width: 100%;
    }

    & button {
      display: block;
      margin: 0 auto;
    }
  }
}
