:root {
  --pink: #ff0081;
  --grey0: #dad4c9;
  --grey1: #e9e5df;
  --grey2: #f0eee9;
  --grey3: #f8f6f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'apercu';
  src: url(../fonts/apercu_bold/apercu-bold.eot);
  src: url(../fonts/apercu_bold/apercu-bold.eot?#iefix) format('embedded-opentype'),
      url(../fonts/apercu_bold/apercu-bold.woff) format('woff'),
      url(../fonts/apercu_bold/apercu-bold.woff2) format('woff2'),
      url(../fonts/apercu_bold/apercu-bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'apercu';
  src: url(../fonts/apercu_light/apercu-light.eot);
  src: url(../fonts/apercu_light/apercu-light.eot?#iefix) format('embedded-opentype'),
      url(../fonts/apercu_light/apercu-light.woff) format('woff'),
      url(../fonts/apercu_light/apercu-light.woff2) format('woff2'),
      url(../fonts/apercu_light/apercu-light.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'apercu';
  src: url(../fonts/apercu_medium/apercu-medium.eot);
  src: url(../fonts/apercu_medium/apercu-medium.eot?#iefix) format('embedded-opentype'),
      url(../fonts/apercu_medium/apercu-medium.woff) format('woff'),
      url(../fonts/apercu_medium/apercu-medium.woff2) format('woff2'),
      url(../fonts/apercu_medium/apercu-medium.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'apercu';
  src: url(../fonts/apercu_mono_regular/apercu-mono-regular.eot);
  src: url(../fonts/apercu_mono_regular/apercu-mono-regular.eot?#iefix) format('embedded-opentype'),
      url(../fonts/apercu_mono_regular/apercu-mono-regular.woff) format('woff'),
      url(../fonts/apercu_mono_regular/apercu-mono-regular.woff2) format('woff2'),
      url(../fonts/apercu_mono_regular/apercu-mono-regular.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'apercu';
  src: url(../fonts/apercu_regular/apercu-regular.eot);
  src: url(../fonts/apercu_regular/apercu-regular.eot?#iefix}) format('embedded-opentype'),
      url(../fonts/apercu_regular/apercu-regular.woff) format('woff'),
      url(../fonts/apercu_regular/apercu-regular.woff2) format('woff2'),
      url(../fonts/apercu_regular/apercu-regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  font-family: 'apercu', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  position: relative;
}

main {
  margin-top: 0;
  position: relative;
  z-index: 0;
}

.page {
  margin-top: 7rem;
}

.blue_bk {
  background-image: url('/assets/blue_bk.png') !important;
}

.blue_green_bk {
  background-image: url('/assets/blue_green_bk.png') !important;
}

.blue_purple_bk {
  background-image: url('/assets/blue_purple_bk.png') !important;
}

.blue_purple_bk2 {
  background-image: url('/assets/blue_purple_bk2.png') !important;
}

.blue_pink_bk {
  background-image: url('/assets/blue_pink_bk.png') !important;
}

.mint_blue_bk {
  background-image: url('/assets/mint_blue_bk.png') !important;
}

.grey_bk { background-color: var(--grey0) }
.grey_bk1 { background-color: var(--grey1) }
.grey_bk2 { background-color: var(--grey2) }
.grey_bk3 { background-color: var(--grey3) }

.contentRow {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000081;
  display: block;
  text-align: center;
  width: 100%;
}

.halfHeightBk {
  background-size: 100% 55%;
  background-position: top center;
}

.contentRowBlue {
  composes: contentRow;
  composes: blue_bk;
  color: white;
}

.contentRowBlueGreen {
  composes: contentRow;
  composes: blue_green_bk;
  color: white;
}

.contentRowBluePurple {
  composes: contentRow;
  composes: blue_purple_bk;
  color: white;
}

.contentRowBluePurple2 {
  composes: contentRow;
  composes: blue_purple_bk2;
  color: white;
}

.contentRowBluePink {
  composes: contentRow;
  composes: blue_pink_bk;
  color: white;
}

.contentRowMintBlue {
  composes: contentRow;
  composes: mint_blue_bk;
  color: white;
}

.contentRowGrey {
  composes: contentRow;
  composes: grey_bk;
  background-image: none;
}

.contentRowGrey1 {
  composes: contentRow;
  composes: grey_bk1;
  background-image: none;
}

.contentRowGrey2 {
  composes: contentRow;
  composes: grey_bk2;
  background-image: none;
}

.contentRowGrey3 {
  composes: contentRow;
  composes: grey_bk3;
  background-image: none;
}

.minHeightPage {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 7.1rem);
  justify-content: space-between;
}

.innerWrapper,
.videoWrapper,
.sliderInnerWrapper {
  display: block;
  margin: 0 auto;
  max-width: 120rem;
  padding: 7rem 0;
  text-align: center;
  width: 100%;

  & h3 {
    font-size: 2.6rem;
    font-weight: normal;
    margin: 0 0 2.5rem;
  }

  & .contentWidth,
  & .bodyCopy {
    max-width: 80rem;
  }

  & .bodyCopy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.flex {
    display: flex;
    justify-content: space-between;
    align-items: top;

    & > * {
      width: 49.5%;
    }
  }

  &.videoWrapper {
    display: flex;
    align-items: stretch;
    padding: 0;
    max-width: 120rem;
    width: 100%;

    & .aspectRatio {
      padding-bottom: 56.25%; /* video aspect ratio */
      flex: 0 0 0%;
    }

    & .video {
      flex: 1 1 100%;
    }

    &.paddingBottom {
      padding-bottom: 7rem;
    }
  }

  &.sliderInnerWrapper {
    max-width: 136rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }

  @media only screen and (max-width: 667px) {
    padding: 5rem 0;

    & .bodyCopy {
      padding: 0 3rem;
    }

    & > img {
      height: auto;
      width: 100%;
    }

    &.flex {
      flex-direction: column;

      & > * {
        width: 100%;
      }
    }

    & > a:first-child {
      width: calc(100% - 14rem);
    }

    &.sliderInnerWrapper {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &.noPaddingTop {
    padding-top: 0;
  }

  &.noPaddingBottom {
    padding-bottom: 0;
  }
}

.PinkDashes,
.BlueDashes { 
  & .innerWrapper {
    position: relative;

    &::before,
    &::after {
      background-color: #ff0081;
      content: "";
      display: block;
      height: 14rem;
      position: absolute;
      width: 0.3rem;
    }
  }
}

.PinkDashes .innerWrapper {
  &::before {
    top: -7rem;
    left: 0;
  }

  &::after {
    bottom: -7rem;
    right: 0;
  }
}

.BlueDashes .innerWrapper {
  &::before,
  &::after {
    background-color: #00dced;
  }

  &::before {
    top: -7rem;
    right: 0;
  }

  &::after {
    bottom: -7rem;
    left: 0;
  }
}
