.ModalOverlay {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal {
  border: 2px solid #ff0081;
  border-radius: 1rem;
  display: block;
  background: #fff;
  overflow: auto;
  WebkitOverflowScrolling: touch;
  outline: none;
  padding: 6rem;
  margin: 3rem;
  text-align: center;
  vertical-align: center;

  & h1 {
    color: #ff0081;
    margin-bottom: 2rem;
  }

  &.noStyle {
    border: none;
    padding: 0;
  }
}