.ResourceGrid {
  &:not(.squares) > :first-child {
    background-color: #f8f6f4;
  }

  &.squares {
    display: flex;
  }

  @media only screen and (max-width: 667px) {
    display: block;
    height: auto;
    max-height: 100%;

    & > div:nth-child(odd) {
      background-color: #f8f6f4;
    }
  }
}

h2 + .ResourceGrid {
  margin-top: 5rem;
}
