.Headroom {
  /* position: fixed; */
  width: 100%;
  z-index: 9999;
}

.HeadroomOpen > div {
  position: fixed !important;
  transform: translateY(0px) !important;
}

.Header {
  background-color: white;
  border-bottom: 1px solid grey;
  position: fixed;
  width: 100%;
  z-index: 100;

  & .innerWrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-height: 6.9rem;
    max-width: 120rem;
    width: 100%;

    & .logo {
      display: block;
      height: 6.9rem;

      & img {
        display: block;
        width: auto;
        height: 100%;
      }
    }
  }
}

.sitenav {
  width: calc(50% - 48px);

  & .burger {
    background: url('/assets/burger_nav_closed.svg') center center no-repeat;
    background-size: 80% 80%;
    font-family: inherit;
    display: inline-block;
    height: 6.9rem;
    text-indent: -9999px;
    width: 7rem;

    &:hover {
      cursor: pointer;
    }
  }

  & .overlay {
    background-color: rgba(0,0,33,.8);
    content: "";
    display: block;
    position: absolute;
    top: 7rem;
    bottom: 0;
    left: 0;
    height: calc(100vh - 7rem);
    width: 100vw;
    margin-left: -100vw;
    opacity: 0;
    z-index: 1;
  }

  & nav {
    background-color: #f8f6f4;
    display: block;
    margin-left: -100vw;
    position: absolute;
    top: 7rem;
    bottom: 0;
    left: 0;
    height: calc(100vh - 7rem);
    overflow-y: auto;
    text-indent: 0;
    transition: all 0.5s ease-out;
    width: 50%;
    z-index: 2;

    & > div {
      margin: 0 0 0 auto;
      max-width: 60rem;
      padding-left: 2rem;
      text-align: left;
      width: 100%;

      & > ul {
        counter-reset: nav;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;

        & li {
          border-bottom: 2px solid #000081;
          color: #000081;
          font-size: 2.3rem;

          & a {
            display: block;
            padding: 4rem 0;
            text-decoration: none;
            
            &::before {
              counter-increment: nav;
              content: '0'counter(nav)'_';
              display: inline-block;
              font-size: 1.3rem;
              padding-right: 1rem;
            }
          }
        }
      }

      & .navFooter {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 4rem 0;
        padding-right: 2rem;

        @media only screen and (max-width: 667px) {
          display: block;

          & > :first-child{
            width: 100%;
          }

          & > :last-child {
            margin: 4rem 0;
            padding-left: 0;
            text-align: center;
          }
        }
      }
    }
  }

  &.close .overlay {
    transition: opacity 0.5s, margin 0s linear 0.5s;
  }

  &.open {
    & .overlay {
      transition: opacity 0.5s;
      margin-left: 0;
      opacity: 1;
    }

    & nav {
      margin-left: 0;
    
      & div ul li {
        & a {
          color: #000081;
          &:hover {
            color: #ff0081;
          }
        }
      }
    }
  }


  @media only screen and (max-width: 667px) {
    & nav div {
      & ul li a {
        padding: 3rem 0;
      }

      & .navFooter {
        margin: 3rem 0;
      }
    }

    &.open {
      & nav {
        width: 100%;
      }
    }
  }
}

nav.loginBtns {
  text-align: right;
  width: calc(50% - 48px);

  & > * {
    margin-right: 2rem;
  }

  & .chat {
    background: url('/assets/chat.svg') center center no-repeat;
    background-size: 95%;
    border: none;
    display: inline-block;
    height: 2.8rem;
    text-indent: -9999px;
    width: 2.8rem;
    vertical-align: bottom;
  }
  
  @media only screen and (max-width: 667px) {
    & .demo,
    & .chat {
      display: none !important;
    }
  }
}
