.whr_embed_hook {
  display: block;
  max-width: 800rem;
  margin: 0 auto;
}

h2.whr-group {
  display: block;
  font-size: 2.6rem;
  margin: 3rem auto;
  max-width: 80rem;
  padding-top: 3rem;
  /* border-top: 1px solid #eee; */
  position: relative;
}

h2.whr-group:before {
  background-color: #dad4c9;
  top: 0;
  content: "";
  display: inline-block;
  height: 1px;
  left: 20%;
  position: absolute;
  width: 60%;
}

ul.whr-items {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  height: 100%;
  justify-content: center;
  margin: 0 auto 5rem;
  max-width: calc(100% - 6rem); /* 90rem; */
}

ul.whr-items:last-child {
  margin-bottom: 0;
}

li.whr-item {
  display: block;
  width: calc(25%);
  margin: 0 1rem 2rem;
  padding: 1rem 0 5rem;
  position: relative;
}

@media only screen and (max-width: 667px) {
  ul.whr-items {
    display: block;
  }

  li.whr-item {
    margin: 0 0 2rem;
    width: 100%;
  }
}

h3.whr-title {
  color: #ff0081;
  font-size: 2rem;
  font-weight: 200;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}

h3.whr-title a {
  color: inherit;
  text-decoration: none;
}

h3.whr-title a:after {
  color: #000081;
  content: "View details & Apply";
  display: block;
  font-size: 1.4rem;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-align: center;
  text-decoration: underline;
}

ul.whr-info {
  display: block;
}

li.whr-location {
  display: block;
  white-space: wrap;
  margin: 1rem 0 0;
}

li.whr-date {
  display: none;
}

li.whr-location span {
  display: block;
  font-weight: bold;
  margin: 1rem 0 0.5rem;
}