.Person {
  align-content: center;
  background: center center no-repeat rgba(60, 0, 252, 0.2);
  background-size: cover;
  background-blend-mode: screen;
  color: #000081;
  display: block;
  font-size: 1.6rem;
  height: 25vw;
  line-height: 2.2rem;
  max-height: 30rem;
  position: relative;
  text-align: center;
  width: 25%;

  &:hover {
    background-color: rgba(255,0,129,0.5) !important;
  }

  & .content {
    background: white;
    display: none;
    flex-direction: column;
    transition: 0.75s ease all;
    min-height: 100%;
    max-width: 67rem;
    padding: 3rem;
    position: absolute;
    text-align: left;
    z-index: -10;
    width: 50vw;

    & h3 {
      font-size: 3rem;
      line-height: 3.8rem;
      margin-bottom: 1rem;
    }

    & h4 {
      margin-bottom: 2rem;
    }

    & p {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  & .hitarea {
    display: block;
    height: 25vw;
    max-height: 30rem;
    max-width: 30rem;
    width: 25vw;
  }

  & .hitarea:hover + .content {
    display: flex;
    z-index: 100;
  }

  @media only screen and (min-width: 1024px) {
    &:nth-child(4n+1),
    &:nth-child(4n+2),
    &:nth-child(4n+3) {
      & .content {
        top: 100%;
        left: 0;
      }
    }
  
    &:nth-child(4n+4) {
      & .content {
        top: 100%;
        right: 0;
      }
    }
  
    &:nth-child(4n+1):nth-last-child(6),
    &:nth-child(4n+2):nth-last-child(5),
    &:nth-child(4n+3):nth-last-child(4),
    &:nth-child(4n+4):nth-last-child(3),

    &:nth-child(4n+1):nth-last-child(4),
    &:nth-child(4n+2):nth-last-child(3),
    &:nth-child(4n+3):nth-last-child(2),
    
    &:nth-child(4n+1):nth-last-child(3){
      & .content {
        top: initial;
        bottom: 100%;
      }
    }

    &:nth-child(8n+2),
    &:nth-child(8n+4),
    &:nth-child(8n+5),
    &:nth-child(8n+7) {
      background-color: rgba(0, 0, 129, 0.8);
    }

    & .content {
      max-width: 60rem;
    }
  }

  @media only screen and (max-width: 1023px) and (min-width: 668px) {
    &:nth-child(even) {
      background-color: rgba(0, 0, 129, 0.8);
    }

    &:nth-child(3n+1),
    &:nth-child(3n+2) {
      & .content {
        top: 100%;
        left: 0;
      }
    }

    &:nth-child(3n+3) .content {
      top: 100%;
      right: 0;
    }

    &:nth-last-child(4),
    &:nth-last-child(3),
    &:nth-last-child(2) {
      & .content {
        top: initial;
        bottom: 100%;
      }
    }

    height: 33.3vw;
    width: 33.3%;

    & .content {
      width: 66.6vw;
    }
  }

  @media only screen and (max-width: 667px) {
    &:nth-child(4n+2),
    &:nth-child(4n+3) {
      background-color: rgba(0, 0, 129, 0.8);
    }

    height: 50vw;
    width: 50%;

    & .hitarea {
      height: 50vw;
      width: 100%;
    }

    & .content {
      font-size: 1.2rem;
      line-height: 1.8rem;
      padding: 2rem;
      width: 100vw;

      & h3 {
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin-bottom: 1rem;
      }
    }

    &:nth-child(odd) .content {
      top: 100%;
      left: 0;
    }

    &:nth-child(even) .content {
      top: 100%;
      right: 0;
    }

    &:nth-last-child(2) .content {
      top: initial;
      bottom: 100%;
    }
  }
}
