.Footer {
  background-color: rgba(218, 212, 201, 0.15);
  overflow: hidden;

  & .gridContainer {
    color: #000081;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 120rem;
    min-height: 16rem;
    padding: 2.5rem 0;
    width: 100%;

    & > div {
      border: 0 solid #000081;
      border-left-width: 0.2rem;
      flex: 1 1 25%;
      padding: 2rem;

      &:last-child {
        border-right-width: 0.2rem;
      }
    }

    & h4 {
      font-size: 1.4rem;
      font-weight: 200;
      margin-bottom: 1.5rem;
    }

    & a {
      color: #000081;
      text-decoration: none;
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:hover {
        color: #ff0081;
      }
    }

    & .logo {
      & a {
        align-self: center;
        display: block;

        & img {
          height: auto;
          width: 100%;
          max-width: 12rem;
        }
      }
    }

    & .quickContact,
    & .quickLinks {
      & nav {
        font-size: 1.5rem;

        & a {
          display: block;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    & .quickLinks nav a {
      display: inline-block;
      white-space: nowrap;
      width: 50%;
      vertical-align: top;

      &:nth-child(odd) {
        padding-right: 2rem;
      }
    }
  }

  & .subFooter {
    background: rgba(218, 212, 201, 0.25);

    & > div {
      color: #000081;
      display: flex;
      font-size: 1rem;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 124rem;
      padding: 2rem;
      width: 100%;

      & span,
      & a {
        color: inherit;
        display: inline-block;
        margin-left: 1rem;
        text-decoration: none;
      }

      & a:hover {
        color: #ff0081;
      }

      & > *:first-child {
        margin-left: 0;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    & .gridContainer {
      flex-wrap: wrap;
      padding-bottom: 0;

      & > div {
        border-width: 0;
        flex: 1 1 33.3%;
        vertical-align: middle;          
      }

      & .logo,
      & .quickContact,
      & .quickLinks {
        width: 33.3%;
      }

      & .logo,
      & .quickContact {
        border-right-width: 1px;
      }

      & .socialLinks {
        border-right: none;
        border-width: 1px 0 0;
        display: block;
        flex: 1 1 100%;
        margin-top: 2rem;
        vertical-align: middle;
        width: 100%;

        & h4 {
          display: inline-block;
          margin-right: 2rem;
          margin-bottom: 0;
          width: auto;
          vertical-align: middle;
        }

        & div {
          display: inline-block;
          /* margin-right: 2rem; */
          width: auto;
          vertical-align: middle;

          & a {
            margin-right: 2rem;
            margin-bottom: 0;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    } 
  }

  @media only screen and (max-width: 666px) {
    & .logo,
    & .quickContact {
      width: 50%;
    }

    & .quickLinks {
      display: none;
    }
  }
}
