.PeopleGrid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: left;
  align-content: stretch;
  margin: 5rem auto 0;
  position: relative;
  width: 100%;

  & .gridAction {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 25vw;
    max-height: 30rem; */
    padding: 5rem 3rem;
    width: 25%;
  }

  @media only screen and (min-width: 1024px) {
    & .gridAction:nth-child(4n+1),
    & .gridAction + .gridAction:nth-child(4n+2) {
      width: 50%;
    }

    & .gridAction:nth-child(4n+0) + .gridAction:nth-child(4n+1) {
      display: none;
    }
  }

  @media only screen and (max-width: 1023px) and (min-width: 667px) {
    & .gridAction {
      width: 33.3%;

      & h2 {
        font-size: 2.4rem;
      }
    }

    & .gridAction:nth-child(3n+0) + .gridAction:nth-child(3n+1) {
      display: none;
    }
  }

  @media only screen and (max-width: 666px) {
    margin: 0;

    & .gridAction {
      height: 50vw;
      padding: 1.5rem;
      width: 50%;

      & a {
        font-size: 1.2rem;
        line-height: 1.8rem;
        padding: 1rem;
      }

      & h2 {
        font-size: 2rem;
        line-height: 2.8rem;
        margin-bottom: 1rem;
      }
    }

    & .gridAction:nth-child(even) + .gridAction:nth-child(odd) {
      display: none;
    }
  }
}
