.Office {
  align-content: center;
  color: #000081;
  display: block;
  height: 33.3vw;
  max-height: 40rem;
  position: relative;
  text-align: center;
  width: calc(33.3%);

  & .content {
    background: white;
    bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 3rem;
    margin: 3rem;
    height: calc(100% - 6rem);

    & h3 {
      flex: 0 0 auto;
      font-size: 3rem;
      margin-bottom: 2rem;
    }
    & address {
      display: block;
      flex: 1 1 auto;
      font-style: normal;
      font-size: 1.6rem;
      line-height: 2.2rem;
      /* margin-bottom: 2rem; */
    }

    & a.phone {
      color: inherit;
      display: block;
      flex: 0 0 auto;
      font-size: 2rem;
      line-height: 2.6rem;
      text-decoration: none;

      &:hover {
        color: #ff0081;
      }
    }
  }

  @media only screen and (min-width: 1024px), screen and (max-width: 667px) {
    &:nth-child(odd) {
      background: url('/assets/blue_purple_bk.png') center center no-repeat;
      background-size: cover;
    }
  }

  @media only screen and (min-width: 668px) and (max-width: 1023px) {
    &:nth-child(3n+1),
    &:nth-child(3n+5) {
      background: url('/assets/blue_purple_bk.png') center center no-repeat;
      background-size: cover;
    }
    height: 50vw;
    width: 50%;
  }

  @media only screen and (max-width: 667px){
    height: 100vw;
    width: 100%;
  }
}
