.Headline {
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 6.4rem;

  & span {
    display: block;
  }

  @media only screen and (max-width: 667px) {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}
