.slick-track {
  align-items: stretch;
  display: flex;
}

.slick-slide {
  float: none;
  height: auto;
  position: relative;
}

.slick-prev,
.slick-next {
  background: center center no-repeat !important;
  background-size: 100%;
  width: 4rem;
  height: 4rem;
  opacity: 0.8;
  transition: all 0.5s;

  &::before {
    content: none;
  }

  &.slick-disabled {
    opacity: 0.2 !important;
    cursor: default;
  }

  &:hover {
    opacity: 1;
  }
}

.slick-prev {
  background-image: url(/assets/arrow_l.svg) !important;
  left: -6rem;
}

.slick-next {
  background-image: url(/assets/arrow_r.svg) !important;
  right: -6rem;
}

@media only screen and (max-width: 667px) {
  .slick-prev,
  .slick-next {
    width: 4rem;
    top: calc(100% - 0.6rem);
    opacity: 1;
    z-index: 100;

    &.slick-disabled {
      opacity: 0 !important;
      cursor: default;
    }
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }
}
