.sliderWrapper > div > div > div {

  &:first-child > div > div::after {
    border-radius: 5rem 0 0 5rem;
    margin-left: calc(50% - 2rem);
    width: calc(50% + 2rem);
  }

  &:last-child > div > div::after {
    border-radius: 0 5rem 5rem 0;
    margin-right: calc(50% + 2rem);
    width: calc(50%);
  }
}
