.Form {
  &.blue_bk {
    background: url(/assets/blue_bk.png) center center no-repeat;
    background-size: cover;
    color: white;
    padding: 5rem;

    @media only screen and (max-width: 667px) {
      padding: 3rem;
    }
  }

  & form {
    border: none;

    & div {
      border: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 2rem auto 0;
      max-width: 40rem;

      & p {
        text-align: left;
        width: 100%;
      }

      & input[type="text"],
      & input[type="email"],
      & .selectWrapper {
        background: white;
        border: none;
        border-radius: 5px;
        color: #000081;
        display: block;
        font-size: 1.2rem;
        padding: 1.2rem;
        width: 100%;

        &.halfWidth {
          display: block;
          width: calc(50% - 1rem);
        }
      }

      & .selectWrapper {
        margin: 0;

        & select {
          outline: none;
          width: 100%;
        }
      }

      &.halfWidth {
        display: block;
        width: calc(50% - 1rem);
      }

      & > * {
        margin-bottom: 2rem;
      }

      & > *:last-child {
        margin-bottom: 0;
      }

      @media only screen and (max-width: 667px) {
        & input[type="text"].halfWidth,
        & input[type="email"].halfWidth,
        & .selectWrapper.halfWidth,
        &.halfWidth {
          width: 100%;
        }
      }
    }

    & button {
      margin: 3rem 0;
      max-width: 40rem;

      @media only screen and (max-width: 667px) {
        margin-top: 0;
        width: 100%;
      }
    }
  }

  & .tandcs {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
}
