.Jobs {
  margin: 0 auto 5rem;
  max-width: 80rem;
  text-align: left;
  width: calc(100% - 6rem);

  & .department {
    background: #34d0ca;
    color: white;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 300;
    margin: 1.5rem auto 0 0;
    padding: 0.5rem;
    text-align: left;
    white-space: nowrap;

    &:first-child {
      margin-top: 0;
    }
  }

  & .job {
    align-items: center;
    background: white;
    color: #000081;
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 100%;

    & h3 {
      flex: 1 0 50%;
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 0;
      padding: 1rem;

    }

    & .location {
      flex: 1 1 25%;
      font-size: 1.4rem;
      font-weight: normal;
      padding: 1rem;
      text-align: left;
      white-space: nowrap;
    }

    & .action {
      flex: 0 1 auto;
      padding: 1rem;
      text-align: right;
    }

    &:hover {
      background-color: #f8f6f4;

      & .department {
        background: #e9e5df;
      }

      & h3 {
        color: #ff0081;
      }
    }

    & + .job {
      border-top: 1px solid #e9e5df;
    }
  }

  @media only screen and (max-width: 667px) {
    display: block;

    & .job {
      display: block;
      padding: 0;

      &:last-child {
        margin-bottom: none;
      }

      & > * {
        display: block;
        border-bottom: none;
      }

      & .department {
        background: none;
        padding: 1rem 1rem 0;
        white-space: nowrap;
      }

      & h3 {
        font-size: 2rem;
        line-height: 2.4rem;
        padding: 1rem;
      }

      & div {
        text-align: left;
        padding: 1rem 0;
      }

      & .location {
        padding: 0 1rem 1rem;
        text-align: left;
      }

      & .action {
        padding-bottom: 1rem;
        width: 100%;

        & a {
          width: 100%;
        }
      }
    }
  }
}

h2 + .Jobs {
  margin-top: 4rem;
}
