* {
    box-sizing: border-box;
}

html, body, #___gatsby {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
}

#___gatsby {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
}