.LogoLinks {
  & a {
    background: center center no-repeat;
    background-size: contain;
    display: inline-block;
    margin-right: 2rem;
    height: 2.4rem;
    text-indent: -9999px;
    width: 2.4rem;

    &:last-child {
      margin-right: 0;
    }

    &.fbIcon {
      background-image: url(/logos/facebook.svg);
    }
    &.twitterIcon {
      background-image: url(/logos/twitter.svg);
    }
    &.linkedinIcon {
      background-image: url(/logos/linkedin.svg);
    }
    &.instagramIcon {
      background-image: url(/logos/instagram.svg);
    }
  }

  @media only screen and (max-width: 667px) {
    display: inline-flex;
    justify-content: space-between;
    max-width: 24rem;
    width: 80%;

    & a {
      height: auto;
      margin: 0;
      padding-bottom: 15%;
      width: 17.5%;
    }
  }
}