.KeyPoints {
  background: center center no-repeat;
  background-size: cover;
  color: white;

  & .innerWrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 120rem;
    width: 100%;

    & > div {
      width: 50%;
    }

    & .copyWrapper {
      padding: 8rem 6rem;
      text-align: left;

      &::before {
        background-color: #34d0ca;
        content: "";
        display: inline-block;
        height: 2px;
        width: 20%;
      }

      & > * {
        margin: 3rem 0 0;
      }

      & h3 {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 2rem;
      }

      & ol {
        list-style: none;
        margin: 0;
        padding: 0;

        & li {
          font-size: 1.4rem;
          line-height: 1.8rem;
          margin: 4rem 0;
          position: relative;
          padding-left: 7rem;

          &::before {
            color: #34d0ca;
            counter-increment: keyPoints;
            content: '0'counter(keyPoints);
            display: block;
            font-size: 4rem;
            font-weight: 300;
            left: 0;
            position: absolute;
            top: 1rem;
          }

          & h4 {
            font-size: 1.7rem;
            margin-bottom: 1rem;
          }
        }
      }
    }

    & .imageWrapper {
      height: 49rem;
      overflow: hidden;
      position: relative;
      text-align: center;

      & img {
        display: inline-block;
        height: 100%;
        padding: 0;
        position: absolute;
        left: 0;
        width: auto;
        z-index: 2;
      }
    }
  }

  &:nth-child(odd) .innerWrapper {
    flex-direction: row-reverse;

    & .copyWrapper {
      padding-left: 0;
    }

    & .imageWrapper {
      text-align: right;
      padding-right: 0;

      & img {
        left: auto;
        right: 0;
      }
    }
  }

  &:nth-child(even) {
    background: none !important;
    color: #000081;
  }

  @media only screen and (max-width: 667px) {
    & .innerWrapper {
      display: block;

      & > div {
        width: 100%;
      }

      & .copyWrapper {
        padding: 5rem 3rem 0 !important;
        text-align: left;

        & ol li:last-child {
          margin-bottom: 0;
        }
      }

      & .imageWrapper {
        height: auto;

        & img {
          display: block;
          position: relative;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
