/*
 * Web Fonts from colophon-foundry.org
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Colophon Foundry. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2018 Colophon Foundry
 *
 * Licenced to Jeremy Holland Polecat
 */

@font-face {
    font-family: 'apercu-regular';
    src: url('apercu-regular.eot');
    src: url('apercu-regular.eot?#iefix') format('embedded-opentype'),
         url('apercu-regular.woff') format('woff'),
         url('apercu-regular.woff2') format('woff2'),
         url('apercu-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

